# VScode相关内容
.vscode

# Django数据库相关内容
*articlepost_total_views*
*auto*.py
*_initial.py
*.sqlite3

# Python运行缓存
__pycache__
*settings.py

# MACOS
.DS_Store

# 上传的数据
*.jpg
*.png
*.gif
*.mp4
*.txt
*.zip

