.code-body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 30px; }

.code-body > *:first-child {
    margin-top: 0 !important; }
.code-body > *:last-child {
    margin-bottom: 0 !important; }

.code-body a {
    color: #4183C4; }
.code-body a.absent {
    color: #cc0000; }
.code-body a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }

.code-body h1, .code-body h2, 
.code-body h3, .code-body h4, 
.code-body h5, .code-body h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative; }

.code-body h1:hover a.anchor, 
.code-body h2:hover a.anchor, 
.code-body h3:hover a.anchor, 
.code-body h4:hover a.anchor, 
.code-body h5:hover a.anchor, 
.code-body h6:hover a.anchor {
    background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
    text-decoration: none; }

.code-body h1 tt, 
.code-body h1 code {
    font-size: inherit; }

.code-body h2 tt,
.code-body h2 code {
    font-size: inherit; }

.code-body h3 tt,
.code-body h3 code {
    font-size: inherit; }

.code-body h4 tt,
.code-body h4 code {
    font-size: inherit; }

.code-body h5 tt,
.code-body h5 code {
    font-size: inherit; }

.code-body h6 tt,
.code-body h6 code {
    font-size: inherit; }

.code-body h1 {
    font-size: 28px;
    color: black; }

.code-body h2 {
    font-size: 24px;
    border-bottom: 1px solid #cccccc;
    color: black; }

.code-body h3 {
    font-size: 18px; }

.code-body h4 {
    font-size: 16px; }
    
.code-body h5 {
    font-size: 14px; }

.code-body h6 {
    color: #777777;
    font-size: 14px; }

.code-body p, 
.code-body blockquote, 
.code-body ul, 
.code-body ol, 
.code-body dl, 
.code-body li, 
.code-body table, 
.code-body pre {
    margin: 15px 0; }

.code-body hr {
    background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
    border: 0 none;
    color: #cccccc;
    height: 4px;
    padding: 0; }

.code-body body > h2:first-child {
    margin-top: 0;
    padding-top: 0; }
.code-body body > h1:first-child {
    margin-top: 0;
    padding-top: 0; }
.code-body body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
.code-body body > h3:first-child, 
.code-body body > h4:first-child, 
.code-body body > h5:first-child, 
.code-body body > h6:first-child {
    margin-top: 0;
    padding-top: 0; }

.code-body a:first-child h1, 
.code-body a:first-child h2, 
.code-body a:first-child h3, 
.code-body a:first-child h4, 
.code-body a:first-child h5, 
.code-body a:first-child h6 {
    margin-top: 0;
    padding-top: 0; }

.code-body h1 p, 
.code-body h2 p, 
.code-body h3 p, 
.code-body h4 p, 
.code-body h5 p, 
.code-body h6 p {
    margin-top: 0; }

.code-body li p.first {
    display: inline-block; }

.code-body ul, 
.code-body ol {
    padding-left: 30px; }

.code-body ul :first-child, 
.code-body ol :first-child {
    margin-top: 0; }

.code-body ul :last-child, 
.code-body ol :last-child {
    margin-bottom: 0; }

.code-body dl {
    padding: 0; }
.code-body dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
.code-body dl dt:first-child {
    padding: 0; }
.code-body dl dt > :first-child {
    margin-top: 0; }
.code-body dl dt > :last-child {
    margin-bottom: 0; }
.code-body dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
.code-body dl dd > :first-child {
    margin-top: 0; }
.code-body dl dd > :last-child {
    margin-bottom: 0; }

.code-body blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777; }
.code-body blockquote > :first-child {
    margin-top: 0; }
.code-body blockquote > :last-child {
    margin-bottom: 0; }

.code-body table {
    padding: 0; }
.code-body table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
.code-body table tr:nth-child(2n) {
    background-color: #f8f8f8; }
.code-body table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
.code-body table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
.code-body table tr th :first-child, 
.code-body table tr td :first-child {
    margin-top: 0; }
.code-body table tr th :last-child, 
.code-body table tr td :last-child {
    margin-bottom: 0; }

.code-body img {
    max-width: 100%; }

.code-body span.frame {
    display: block;
    overflow: hidden; }
.code-body span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
.code-body span.frame span img {
    display: block;
    float: left; }
.code-body span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
.code-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both; }
.code-body span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
.code-body span.align-center span img {
    margin: 0 auto;
    text-align: center; }
.code-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both; }
.code-body span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
.code-body span.align-right span img {
    margin: 0;
    text-align: right; }
.code-body span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left; }
.code-body span.float-left span {
    margin: 13px 0 0; }
.code-body span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right; }
.code-body span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

.code-body code, 
.code-body tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px; }

.code-body pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent; }

.code-body .highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }

.code-body pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }
.code-body pre code, 
.code-body pre tt {
    background-color: transparent;
    border: none; }